rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Autorisation totale en lecture
    match /{allPaths=**} {
      allow read: if true;
    }

    // Autorisation d'écriture simplifiée au maximum pour l'admin principal
    match /{allPaths=**} {
      allow write: if request.auth != null && 
                   request.auth.token.email == 'drnduwa@gmail.com';
    }

    // Règle spécifique pour le dossier tourisme (Admin principal + Admin tourisme)
    match /tourism/{allPaths=**} {
      allow write: if request.auth != null && 
                   (request.auth.token.email == 'drnduwa@gmail.com' || 
                    request.auth.token.email == 'contact.congonamotema@gmail.com');
    }
    
    // Autres dossiers
    match /avatars/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /videos/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}